header {
    @apply w-full flex flex-col px-[5vw] py-10 justify-center text-center text-slate-800 md:h-[50vh];
    background-image: url('../../../public/genxbg.png');
    background-size: cover;
    background-position: center;
}

header h1 {
    @apply text-4xl mb-10 font-semibold text-slate-900 md:text-6xl md:mb-[6rem];
}

header p {
    @apply text-sm font-light mb-8;
}

header .headerLinks {
    @apply flex gap-4 justify-center
}

header .headerLinks a {
    /* border: 2px solid; */
    border-radius: .5rem;
    @apply  px-3 py-2 bg-slate-800 text-slate-200 md:hover:bg-slate-200 md:hover:text-stone-800 text-sm md:text-base xl:px-6 xl:py-4;
    @apply xl:text-xl;
}

