@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply max-w-screen-2xl mx-auto text-slate-800 bg-stone-200;
}

/* Navbar styles */
nav {
  @apply flex justify-between items-center py-4 w-full px-[5vw] 2xl:px-0;
}

/* largescreen navlinks */
.navLinks {
  @apply hidden md:block;
  flex: 1;
}

/* largescreen navlinks */
.navLinks ul {
  @apply flex gap-4 text-base font-normal ;

}

/* logo container */
.navLogo {
  @apply md:justify-center items-center flex text-sky-900;
  flex: 1;
}

/* logo link wrapper */
.navLogo a {
  @apply flex items-center gap-2
}

/* logo icon */
.navLogo a svg {
  @apply text-4xl;
}

/* logo text */
.navLogo a span {
  @apply text-2xl font-extralight
}

/* user and cart icons */
.cartUser {
  @apply flex justify-end items-center text-2xl gap-4; 
  flex: 1;
}

/* not found page */
.notFound {
  @apply flex items-center justify-center text-center px-[5vw] py-16;
}

.notFound h1 {
  @apply text-2xl text-center;
}

.notFound h1 a {
  @apply text-green-400 mt-6 md:hover:text-green-200;
}

/* Ulility Classes */

/* Section Title */
.sectionTitle {
  @apply py-6 text-4xl font-light mb-10;
}

/* Container div that wraps all product item card */
.cardContainer {
  @apply flex flex-col items-center md:items-start md:flex-row flex-wrap gap-8 justify-center;
}

/* individual card styles */
.productCard {
  @apply w-full max-w-[322.5px];
  /* border-radius: .5rem; */
}

.productCard > div {
  @apply w-full flex flex-col relative;
}

.productCardImage {
  @apply w-full h-[225px];
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid rgb(30, 41, 59);
}

.productCardImage img {
  @apply w-full h-full;
}

.productCardDesc {
  @apply w-full flex flex-col p-4;
}

.productCardDesc h1 {
  @apply text-xl mb-4;
}

.productCardDesc h2 {
  @apply text-sm font-light mb-2;
}

.productCardDesc h3 {
  @apply text-base font-semibold;
}

.discount {
  @apply absolute bg-green-300 py-1 px-2 top-5 left-5 text-sm font-light;
  border-radius: 1.5rem;
}
