@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply max-w-screen-2xl mx-auto text-slate-800 bg-stone-200;
}

/* Navbar styles */
nav {
  @apply flex justify-between items-center py-4 w-full px-[5vw] 2xl:px-0;
}

/* largescreen navlinks */
.navLinks {
  @apply hidden lg:block;
  flex: 1;
}

/* largescreen navlinks */
.navLinks ul {
  @apply flex gap-4 text-base font-normal ;

}

/* logo container */
.navLogo {
  @apply lg:justify-center items-center flex;
  flex: 1;
}

/* logo link wrapper */
.navLogo a {
  @apply flex items-center gap-2 md:hover:text-slate-700;
}

/* logo icon */
.navLogo a svg {
  @apply text-4xl;
}

/* logo text */
.navLogo a span {
  @apply text-2xl font-extralight
}

/* user and cart icons */
.cartUser {
  @apply flex justify-end items-center text-2xl gap-6; 
  flex: 1;
}

.cartUser a {
  @apply hover:text-slate-700;
}

/* not found page */
.notFound {
  @apply flex items-center justify-center text-center px-[5vw] py-16;
}

.notFound h1 {
  @apply text-2xl text-center;
}

.notFound h1 a {
  @apply text-green-400 mt-6 md:hover:text-green-200;
}

/* Ulility Classes */

/* Section Title */
.sectionTitle {
  @apply py-6 text-4xl font-light mb-10;
}

/* Container div that wraps all product item card */
.cardContainer {
  @apply flex flex-col items-center md:items-start md:flex-row flex-wrap gap-8 justify-center;
}

/* Title of each leaf page */
.pageSectionTitle {
  @apply w-full py-10 text-4xl text-center;
}

/* individual card styles */
.productCard {
  @apply w-full max-w-[322.5px] hover:shadow-2xl;
  border-radius: 1.5rem;
  transition: all 200ms ease-in-out;
}

/* Product card inner div */
.productCard > div {
  @apply w-full flex flex-col relative;
}

/* product card image container */
.productCardImage {
  @apply w-full h-[225px];
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid rgb(30, 41, 59);
}

/* product card image */
.productCardImage img {
  @apply w-full h-full;
}

/* Product card details */
.productCardDesc {
  @apply w-full flex flex-col p-4;
}

.productCardDesc h1 {
  @apply text-xl mb-4;
}

.productCardDesc h2 {
  @apply text-sm font-light mb-2;
}

.productCardDesc h3 {
  @apply text-base font-semibold;
}

.discount {
  @apply absolute bg-green-300 py-1 px-2 top-5 left-5 text-sm font-light;
  border-radius: 1.5rem;
}

/* View All Products Button */ 
.viewAll {
  @apply w-full flex py-5 justify-center mb-20;
}

.viewAll a {
  border-radius: .5rem;
  @apply  px-5 py-3 bg-slate-800 text-slate-200 md:hover:bg-slate-700  text-base md:text-base xl:px-6 xl:py-4;
  @apply xl:text-xl;
}



/* Footer Styles */
footer {
  @apply bg-slate-800 px-[5vw] py-10 text-slate-200 flex flex-col md:flex-row;
}

.logoSocials {
  @apply flex flex-col w-full items-center mb-14 md:w-[35%];
}

.logoSocials .logo a {
  @apply flex items-center gap-2 text-5xl;
}

.logoSocials .logo a span {
  @apply text-3xl font-thin;
}

.logoSocials .socials {
  @apply flex gap-4 mt-5;
}

.logoSocials .socials svg {
  @apply text-3xl;
}

footer .links {
  @apply flex justify-between md:w-[65%] lg:justify-end lg:gap-20;
}

footer .links ul {
  @apply flex flex-col gap-3;
}

footer .links ul li {
  @apply font-thin text-sm;
}

footer .links ul li:first-child{
  @apply mb-7 font-bold text-xl;
}

footer .links ul li a {
  @apply md:hover:font-light;
}







